{% extends 'combiner/base.html' %}
{% block content %}
    {#  #}
    <div class="row small-12 columns">
        <h3 class="text-center">Let's Start Combining!</h3>
        <hr>
        <p><a data-open="measure-modal">Click me for a modal</a></p>
        {# LEFT SIDE - input document #}
        <div class="medium-6 columns" id="left-panel">
            <div class="panel-heading">
                <h4 class="text-center">Pick a Source Document</h4>

            </div>
            <form id="file-upload" action="{% url "combiner:upload" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <span><label class="button"
                             for="{{ input_form.csv_file.auto_id }}"> {{ input_form.csv_file.label }}</label></span>
                <span id="file-label"></span>
                {{ input_form.csv_file }}
                <br>
                <input class="button text-center" type="submit" value="Submit"/>
            </form>


            {# Lat/Lon selection#}
            <form id="latlon-form" method="post" action="{% url "combiner:update_geo_fields" %}"
                  enctype="multipart/form-data" style="display: none;">
                {% csrf_token %}
                <div class="row">
                    <h4 class="meta-label text-center">Select Lat/Lon (x/y) fields: </h4>
                    <div class="medium-6 columns">
                        <label for="lat-select">Latitude (y)</label>
                        <select id="lat-select" class='latlon-select' type="text" name="lat" form="latlon-form">
                            <option>Upload file first</option>
                        </select>

                    </div>
                    <div class="medium-6 columns">
                        <label for="lon-select">Longitude (x)</label>
                        <select id="lon-select" class='latlon-select' type="text" name="lon" form="latlon-form">
                            <option>Upload file first</option>
                        </select>

                    </div>
                </div>
            </form>

            {# Table of sample data#}
            <div id="input-sample" class="row" style="display: none;">
                <h4 class="text-center">Sample of Your Data</h4>
                <div class="table-scroll">
                    <table id="input-table"></table>
                </div>
            </div>


        </div>

        {# RIGHT SIDE - data to combine #}
        <div class="medium-6 columns" id="right-panel">
            <div class="panel-heading">
                <h4 class="text-center">Pick Data You Want to Combine with Your Document</h4>
            </div>
            <form id="field-form" method="post" action="{% url "combiner:submit_job" %}">
                {% csrf_token %}
                <div class="row">
                    <table>
                        <tbody id="measure-table">
                        <tr>
                            <th>Dataset</th>
                            <th>Field</th>
                            <th>Measure</th>
                        </tr>
                        <!-- We'll add listing of measure to this section-->
                        </tbody>
                    </table>
                    <button class="button success" type="button" id="add-measure">Add Stuff</button>
                    <br>
                    <input id="combine-submit" class="button" type="submit" value="Let's Start Combinin'"/>
                </div>
            </form>
        </div>
    </div>

    <div class="reveal" id="measure-modal" data-reveal>
        <h1>Add a Measure</h1>
        <div id="test"></div>
        <form>

            <label for="select-resource">Data Set</label>
            <select name="resource" id="select-resource"> </select>

            <div id="select-field-group" style="display: none;">
                <label for="select-field">Field</label>
                <select name="field" id="select-field"></select>
            </div>
            <div id="select-measure-group" style="display: none;">
                <label for="select-measure">Measure</label>
                <select name="measure" id="select-measure"></select>
            </div>
            <br>
            <br>
            <input class="button text-center" id="measure-submit" type="button" value="Add" data-close
                   aria-label="Close modal"/>

        </form>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <script>
        var measure_count = 0;
        var serial_value;
        var r, f, m;

        $('#add-measure').on('click', function () {
            $('#measure-modal').foundation('open');

        });

        $('#measure-submit').on('click', function () {

            // TODO: add validation

            serial_value = $('#select-resource').val() + "-" + $('#select-field').val() + "-" + $('#select-measure').val();
            r = $('#select-resource option:selected').text();
            f = $('#select-field option:selected').text();
            m = $('#select-measure option:selected').text();
            console.log(serial_value);
            console.log(r);
            console.log(f);
            console.log(m);

            // add new data to submission form
            $('<input>').attr({
                type: 'hidden',
                id: 'measure_val_' + measure_count,
                name: 'measure_val_' + measure_count,
                value: serial_value
            }).appendTo($('#field-form'));

            // make new entry line in table
            $('#measure-table')
                    .append($("<tr>").html("<td>" + r + "</td><td>" + f + "</td><td>" + m + "</td>"));

            // reset itself
            $('#select-resource').val('1');
            $('#select-field-group').hide();
            $('#select-measure-group').hide();

        });

        function addOptions(selection, data, val, text) {
            selection.empty();

            for (var i = 0; i < data.length; i++) {
                item = data[i];
                selection.append(
                        $('<option></option>')
                                .attr('value', item[val])
                                .text(item[text])
                )
            }
            selection.parent().show();
        }

        // Get list of available resources to start
        //
        var $resourceSelect = $('#select-resource');
        $.get("{% url "combiner:get_resources" %}", function (data) {
            var resources = data.resources;

            $resourceSelect.append(
                    $('<option></option>')
                            .attr('value', 0)
                            .text("----SELECT A RESOURCE----")
            );
            addOptions($resourceSelect, resources, 'pk', 'name');

            $.get("{% url "combiner:get_fields" %}", {"resource": $('#select-resource').val()})
                    .success(function (data) {
                        if (data.fields.length) {
                            addOptions($('#select-field'), data.fields, 'pk', 'name');
                        }

                        $.get("{% url "combiner:get_measures" %}", {"field": $('#select-field').val()})
                                .success(function (data) {
                                    console.log(data);
                                    if (data.measures.length) {
                                        addOptions($('#select-measure'), data.measures, 'pk', 'name');
                                    }
                                });
                    });
        });


        // When resource is selected, get list of fields available for that resource
        //
        $('#select-resource').on('change', function () {
            var resource_id = $(this).val();
            $.get("{% url "combiner:get_fields" %}", {"resource": resource_id})
                    .success(function (data) {
                        if (data.fields.length) {
                            addOptions($('#select-field'), data.fields, 'pk', 'name');
                        }

                        $.get("{% url "combiner:get_measures" %}", {"field": $('#select-field').val()})
                                .success(function (data) {
                                    console.log(data);
                                    if (data.measures.length) {
                                        addOptions($('#select-measure'), data.measures, 'pk', 'name');
                                    }
                                });
                    });
        });

        $('#select-field').on('change', function () {
            var field_id = $(this).val();
            $.get("{% url "combiner:get_measures" %}", {"field": field_id})
                    .success(function (data) {
                        console.log(data);
                        if (data.measures.length) {
                            addOptions($('#select-measure'), data.measures, 'pk', 'name');
                        }
                    });
        });


    </script>


    <script type="text/javascript">
        var file_id = '';

        // Display name of file being uploaded.
        $('#{{ input_form.csv_file.auto_id }}').on('change', function () {
            var filename = this.value.replace(/^.*[\\\/]/, '');
            $('#file-label').text(filename);
        });

        // Use AJAX to upload file
        function upload(event) {
            event.preventDefault();
            var data = new FormData($('#file-upload').get(0));
            console.log(data);
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: data,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(data);
                    file_id = data['file_id'];
                    updateLatLonSelects(data['fields']);
                    displayTable($('#input-table'), data['fields'], data['sample']);
                }
            });
            return false;
        }


        function updateLatLonSelects(fields) {
            var $lat = $('#lat-select');
            var $lon = $('#lon-select');
            $lat.empty();
            $lon.empty();

            for (var i = 0; i < fields.length; i++) {
                field = fields[i];
                $lat.append($("<option></option>")
                        .attr("value", field)
                        .text(field)
                );

                $lon.append($("<option></option>")
                        .attr("value", field)
                        .text(field)
                );
            }
        }

        function displayTable(table, fields, data) {
            var tbl = '<tr>';
            for (var f = 0; f < fields.length; f++) {
                tbl += '<th>' + fields[f] + '</th>';
            }
            tbl += "</tr>";
            for (var i = 0; i < data.length; i++) {
                tbl += "<tr>";
                for (var j = 0; j < fields.length; j++) {
                    field = fields[j];
                    tbl += "<td>" + data[i][field] + "</td>";
                }
                tbl += "</tr>";
            }
            table.html(tbl);
            $('#latlon-form').show();
            $('#input-sample').show();
        }

        // Auto submit geo fields on change
        $('.latlon-select').on('change', function () {
            var $form = $('#latlon-form');
            var geo_data = $('#latlon-form').serialize();
            console.log(geo_data);

            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: geo_data,
                success: function (data) {
                    console.log(data)
                }

            });
        });

        var combine_id;

        $('#field-form').on('submit', function (event) {
            event.preventDefault();
            console.log($(this));
            var data = $(this).serialize();
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: data,
                success: function (data) {
                    console.log(data);
                    combine_id = data['combiner_id'];
                    location.href = 'progress/?job=' + combine_id;
                },
                fail: function (data) {
                    console.log(data)
                }
            });
            return false;
        });

        $(function () {
            $('#file-upload').submit(upload);
        });


    </script>
{% endblock %}

{% block table %}
    {% if csv_data %}
        {% for datum in csv_data %}
            {{ datum }}
        {% endfor %}
    {% endif %}
{% endblock %}