{% extends 'combiner/base.html' %}

{% block content %}

    <form action="{% url "combiner:upload" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>

        <p>{{ form.csv_file.label_tag }} {{ form.csvfile.help_text }}</p>

        <p>
            {{ form.csv_file.errors }}
            {{ form.csv_file }}
        </p>
        {{ form.x_field }}
        {{ form.y_field }}
        <p><input type="submit" value="Submit"/></p>
    </form>

    <form>
        <p>{{ field_form.non_field_errors }}</p>

        <p>{{ field_form.field.label_tag }} {{ field_form.field.help_text }}</p>

        <p>
            {{ field_form.field.errors }}
            {{ field_form.field }}
        </p>
    </form>

{% endblock %}

{% block table %}
    {% if csv_data %}
        {% for datum in csv_data %}
            {{ datum }}
        {% endfor %}
    {% endif %}
{% endblock %}