{% extends 'combiner/base.html' %}

{% block content %}
    {#  #}
    <form action="{% url "combiner:upload" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {{ form.csvfile.help_text }}

        {{ form.csv_file.errors }}
        <span><label class="button" for="{{ form.csv_file.auto_id }}"> {{ form.csv_file.label }}</label></span>
        <span id="file-label"></span>
        {{ form.csv_file }}

        <p><input class="button" type="submit" value="Submit"/></p>
    </form>

    <form>
        <p>{{ field_form.non_field_errors }}</p>

        <p>{{ field_form.field.label_tag }} {{ field_form.field.help_text }}</p>

        <p>
            {{ field_form.field.errors }}
            {{ field_form.field }}
        </p>
    </form>
    <script>
        $('#{{ form.csv_file.auto_id }}').on('change', function () {
            var filename = this.value.replace(/^.*[\\\/]/, '');
            $('#file-label').text(filename);
        });
    </script>
{% endblock %}

{% block table %}
    {% if csv_data %}
        {% for datum in csv_data %}
            {{ datum }}
        {% endfor %}
    {% endif %}
{% endblock %}