{% extends 'combiner/base.html' %}

{% block content %}
    <div class="sub-title">
        <h3>Options</h3>
    </div>
    <div>
        {% if file_name %}
            <p><span><b>Uploaded File: </b></span>{{ file_name }}</p>
        {% endif %}
    </div>
    <div>
        <h3>Connect with WPRDC Dataset</h3>
        <form action="{% url "combiner:join" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.int_field.label_tag }} {{ form.int_field.help_text }}</p>

            <p>
                {{ form.int_field.errors }}
                {{ form.int_field }}
            </p>

            <p><input type="submit" value="Merge Data"/></p>
        </form>
    </div>

{% endblock %}

{% block table %}
    <table>
        {% for row in table_data %}
            <tr>
                {% for cell in row %}
                    {% if forloop.parentloop.counter0 == 0 %}
                        <th> {{ cell }} </th>
                    {% else %}
                        <td> {{ cell }} </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}